name: Build and deploy Aseprite Test

on:
  push: 
    branches:
      - master
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build-aseprite:
    name: Build Aseprite (Windows)
    runs-on: windows-latest

    steps:
      - name: Checkout Aseprite repository
        uses: actions/checkout@v4
        with:
          repository: aseprite/aseprite
          ref: main
          submodules: recursive

      - name: Install Ninja
        shell: cmd
        run: choco install ninja -y

      - name: Download prebuilt Skia
        shell: cmd
        run: |
          curl -L -o skia.zip https://github.com/aseprite/skia/releases/download/m102-861e4743af/Skia-Windows-Release-x64.zip
          7z x skia.zip -o"%CD%"
          dir
          dir Skia
          if exist Skia\out\Release-x64 (
            echo Skia directory found
            dir Skia\out\Release-x64
          ) else (
            echo Skia prebuilt library not found
            exit /b 1
          )

      - name: Create build directory
        shell: cmd
        run:  mkdir build

      - name: Configure CMake
        shell: cmd
        working-directory: build
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=x64
          cmake -DCMAKE_BUILD_TYPE=%BUILD_TYPE% -DLAF_BACKEND=skia -DSKIA_DIR=%CD%\. .\Skia -DSKIA_LIBRARY_DIR=%CD%\..\Skia\out\Release-x64 -DSKIA_LIBRARY=%CD%\..\Skia\out\Release-x64\skia.lib -G Ninja ..

      - name: Build
        shell: cmd
        working-directory: build
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=x64
          ninja aseprite

      - name: Cleanup build artifacts
        shell: bash
        working-directory: build/bin
        run: rm -f gen modp_b64_gen *.manifest *.exe.manifest

      - name: Make portable
        shell: cmd
        working-directory: build\bin
        run: echo # portable > aseprite.ini

      - name: Create zip
        shell: cmd
        working-directory: build\bin
        run: 7z a Aseprite-Windows. zip *

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Aseprite-Windows
          path: build\bin\Aseprite-Windows.zip
